/* styles.css */

/* Add custom styles here */
.header {
  padding: 20px;
  background-color: #333;
  color: #e7f597;
}

.article {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #504545;
}

/* Add more custom styles as needed */
